{{!--  ADD IMAGE --}}

{{!-- Content --}}
<div class="container">
    <div class="form-group">
        <input type="text" id="buger_name">
        <buttton class="primary"> Submit</buttton>
    </div>
</div>