body{
    background-color: #eee;
    background-image: url(../assets/images/hamburgerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-content{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.headImage{
    width: 30%;
}

.topHeader{
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #ff6b25 74%);
    

}

.search{
    background: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px 0;
    margin-top: 15px;
    padding-top: 25px;
}

.burger-item{
    border-radius: 10px;
}

.burger-item h3{
    font-size: 19px;
    margin-left: 10px;
}